<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Top Navigation</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="../../dist/css/pos.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style type="text/css">
    body{
      overflow-y: hidden;
    }
  </style>
</head>
<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
              </div>
            </form>
          </div>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <li class="dropdown messages-menu">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>

                    <ul class="menu">
                      <li>
                        <a href="#">
                          <div class="pull-left">

                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>

                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>

                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>

                    </ul>

                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>

              <li class="dropdown notifications-menu">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>

                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>

              <li class="dropdown tasks-menu">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>

                    <ul class="menu">
                      <li>
                        <a href="#">

                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>

                          <div class="progress xs">

                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown user user-menu">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                  <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">

                  <span class="hidden-xs">Alexander Pierce</span>
                </a>
                <ul class="dropdown-menu">

                  <li class="user-header">
                    <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                    <p>
                      Alexander Pierce - Web Developer
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>

                  <li class="user-body">
                    <div class="row">
                      <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                      </div>
                      <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                      </div>
                    </div>

                  </li>

                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>

      </nav>
    </header>

    <div class="content-wrapper">
      <div class="container">



        <div class="pos">
          <div class="pos-receipt-print"></div>
          <portal></portal>
          <div class="pos-content">
            <div class="window">
              <div class="subwindow">
                <div class="subwindow-container">
                  <div class="subwindow-container-fix screens">
                    <div class="product-screen screen">
                      <div class="screen-full-width">
                        <div class="leftpane pane-border">
                          <div class="order-container">
                                        <!-- <div class="order">
                                            <div class="order-empty">
                                                <i role="img" aria-label="Shopping cart" title="Shopping cart" class="fa fa-shopping-cart"></i>
                                                <h1>This order is empty</h1>
                                            </div>
                                          </div> -->
                                          <div class="order">
                                            <ul class="orderlines">

                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>
                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>
                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>
                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>
                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>
                                              <li class="orderline" id="orderline">
                                                <span class="product-name">T-shirt<span class="pull-right">$ 1.00</span></span><span class="price"><i class="fa fa-trash text-red"></i></span>
                                                <ul class="info-list">
                                                  <li class="info"><em>1</em><span> </span>Units at $ 1.00 / Units</li>
                                                </ul>
                                              </li>

                                            </ul>
                                            <div class="summary clearfix">
                                              <div class="line">
                                                <div class="entry total">
                                                  <span class="badge1">Total: </span><span class="value">$ 1.15</span>
                                                  <div class="subentry">Taxes: <span class="value">$ 0.15</span></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                        <div class="pads">
                                          <div class="control-buttons">
                                            <div class="control-button"><i role="img" aria-label="Info" title="Info" class="fa fa-table"></i> Table no</div>
                                            <div class="control-button"><i role="img" aria-label="Refund" title="Refund" class="fa fa-undo"></i> Status</div>
                                            <div class="control-button"><i role="img" aria-label="Refund" title="Refund" class="fa fa-undo"></i> Refund</div>
                                          </div>
                                          <div class="subpads">
                                            <div class="actionpad">
                                              <button class="button set-customer"><i role="img" aria-label="Customer" title="Customer" class="fa fa-user"></i> Customer</button>
                                              <button class="button pay">
                                                <div class="pay-circle"><i role="img" aria-label="Pay" title="Pay" class="fa fa-chevron-right"></i></div>
                                                Payment
                                              </button>
                                            </div>
                                            <div class="numpad">
                                              <button class="input-button number-char one">1</button>
                                              <button class="input-button number-char two ">2</button>
                                              <button class="input-button number-char three">3</button>
                                              <button class="mode-button selected-mode">Qty</button><br />
                                              <button class="input-button number-char four">4</button>
                                              <button class="input-button number-char five">5</button>
                                              <button class="input-button number-char six">6</button>
                                              <button class="mode-button">Disc</button><br />
                                              <button class="input-button number-char seven">7</button>
                                              <button class="input-button number-char eight">8</button>
                                              <button class="input-button number-char nine">9</button>
                                              <button class="mode-button">Price</button><br />
                                              <button class="input-button numpad-minus">+/-</button><button class="input-button number-char zero">0</button><button class="input-button number-char">.</button>
                                              <button class="input-button numpad-backspace"><img style="pointer-events: none;" src="../../dist/img/backspace.png" width="24" height="21" alt="Backspace" /></button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="rightpane">
                                        <div class="products-widget">
                                          <div class="products-widget-control">
                                            <div class="rightpane-header">
                                              <div class="search-bar-container sb-product">
                                                <div class="pos-search-bar">
                                                  <i class="fa fa-search"></i>
                                                  <input placeholder="Search Products..." type="text" autofocus="autofocus">
                                                </div>
                                              </div>
                                              <div class="categories-header">
                                                <div class="breadcrumbs1">
                                                  <span class="breadcrumb1">
                                                    <span class="breadcrumb-button breadcrumb-home">
                                                      <i class="fa fa-home" role="img" aria-label="Home" title="Home"></i>
                                                    </span>
                                                  </span>
                                                </div>
                                                <div class="category-list simple">
                                                  <span class="category-simple-button">Miscellaneous</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                  <span class="category-simple-button">Office furniture</span>
                                                </div>
                                              </div>
                                            </div>
                                            <portal></portal>
                                          </div>
                                          <div class="product-list-container">
                                            <div class="product-list">
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>
                                              <article tabindex="0" data-product-id="4" aria-labelledby="article_product_4" class="product">
                                                <div class="product-img">
                                                  <i role="img" aria-label="Info" title="Info" class="product-info-button fa fa-info-circle"></i>
                                                  <img class="zoom" src="../../dist/img/image.png" alt="T-shirt" />
                                                  <span class="price-tag">$ 579</span>
                                                </div>
                                                <div id="article_product_4" class="product-name">Cheese Burger</div>
                                              </article>

                                              
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>

                  <footer class="main-footer">
                    <div class="container">
                      <div class="pull-right hidden-xs">
                        <b>Version</b> 2.4.13
                      </div>
                      <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io/">AdminLTE</a>.</strong> All rights
                      reserved.
                    </div>

                  </footer>
                </div>

                <script src="../../bower_components/jquery/dist/jquery.min.js"></script>

                <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

                <script src="../../dist/js/adminlte.min.js"></script>
              </body>

              </html>
